
/* Blockquotes */

blockquote,
blockquote.left-side,
blockquote.right-side {
	margin: 0 0 ceil($base-vertical-margin + 5);
	padding: $base-horizontal-padding;
	color: lighten($base-font-color, 25%);
	text-align: left;
	line-height: $base-line-height;
}

// Left Aligned Blockquote
blockquote,
blockquote.left-side {
	border-left: 4px solid $primary-accent-color;
}

//Right Aligned Blockquote
blockquote.right-side {
	text-align: right !important;
	border-left: none;
	border-right: 4px solid $primary-accent-color;
}

blockquote cite {
	margin-top: 5px;
	color: lighten($base-font-color, 25%);
	font-size: ceil($sm-text + 2);
	display: block;
	&:before {
		content: "- ";
	}
}