
/* Form Elements */

fieldset {
	background-color: lighten($default-color, 10%);
	margin: $base-vertical-margin 0px;
	padding: ceil($base-vertical-padding * 2);
	@include border(1px, solid, $base-input-border-color);
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: ceil($base-vertical-margin / 2);
	font-weight: bold;
}

// Normalize Radio's and Checkboxes
	input[type="radio"],
	input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9; // IE8-9
	line-height: normal;
}

.form-input {
	background-color: $base-input-background-color;
	width: 100%;
	margin-bottom: ceil($base-vertical-margin / 2);
	padding: ceil($base-vertical-padding - 2);
	color: $base-font-color;
	font-family: $base-font;
	line-height: $base-line-height;
	display: block;
	@include border(1px, solid, $base-input-border-color);
	@include transition(border-color, 0.3s, ease);
	
	&:hover {
		border-color: darken($base-input-border-color, 10%);
	}

	&:focus {
		border-color: $base-input-focus-color;
		box-shadow: 0 0 5px rgba($base-input-focus-color, 0.4);
		outline: none;
	}

	@include placeholder;
}

textarea {
	width: 100%;
	min-height: 200px;
	margin-bottom: ceil($base-vertical-margin / 2);
	padding: ceil($base-vertical-padding - 2);
	color: $base-font-color;
	font-family: $base-font;
	line-height: $base-line-height;
	display: block;
	@include border(1px, solid, $base-input-border-color);
	@include transition(border-color, 0.3s, ease);
	resize: vertical;
}

input[type="search"] {
	-webkit-appearance: none;
	@include box-sizing(border-box);
}

.radio-input,
.checkbox-input {
	position: relative;
	display: block;
	margin: $base-vertical-margin 0px;
	
	label {
		min-height: $base-line-height-computed;
		padding-left: 20px;
		margin-bottom: 0;
		font-weight: normal;
		cursor: pointer;
		display: block;
	}
}

.radio-input input[type="radio"],
.checkbox-input input[type="checkbox"] {
	position: absolute;
	margin-left: -20px;
	margin-top: 4px \9;
}


