/* Grid
/* TODO: Introduce Different Styles of Pagination
=========================================================== */

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: $base-line-height-computed 0;
  border-radius: $base-border-radius;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      background-color: $base-pagination-bg-color;
      margin-left: -1px;
      padding: ($base-padding - 4) ($base-padding + 2);
      color: $base-pagination-color;
      text-decoration: none;
      line-height: $base-line-height;
      float: left;
      position: relative;
      border: 1px solid $base-pagination-border-color;   
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        @include border-left-radius($base-border-radius);
      }
    }
    &:last-child {
      > a,
      > span {
        @include border-right-radius($base-border-radius);
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      background-color: $base-pagination-hover-bg-color;
      color: $base-pagination-hover-color;
      border-color: $base-pagination-hover-border-color;
      z-index: 3;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      background-color: $base-pagination-active-bg-color;
      color: $base-pagination-active-color;
      border-color: $base-pagination-active-border-color;
      z-index: 2;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $base-pagination-disabled-color;
      background-color: $base-pagination-disabled-bg-color;
      border-color: $base-pagination-disabled-border-color;
      cursor: not-allowed;
    }
  }
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  @include pagination-size($base-padding, ceil($base-padding + 6), $base-font-size-large, $base-line-height-large, ceil($base-border-radius + 1));
}

// Small
.pagination-sm {
  @include pagination-size($base-padding, ceil($base-padding - 4), $base-font-size-small, $base-line-height-small, ceil($base-border-radius - 2));
}
