/* Social Icon Buttons
========================================================================== */

// Base Social Button Build

#{$base-social-class} {
  width: $base-social-size;
  height: $base-social-size;
  margin: 0px;
  padding: 0px;
  color: $white;
  font-size: inherit;
  text-align: center;
  display: block;
  line-height: $base-social-line-height;

  &:hover, &:active {
    color: $white;
  }
}

@each $base-social-brand-color in $base-social-brand-colors {
  $base-social-brand-name: nth($base-social-brand-color, 1);
  $base-social-brand-bg-color: nth($base-social-brand-color, 2);

  #{$base-social-class}-#{$base-social-brand-name} {
    background-color: $base-social-brand-bg-color;
    @include transition(all,0.3s,ease);

    &:hover, &:active {
      background-color: lighten($base-social-brand-bg-color, 5%);
    }
  }
}