/* Simple Tabs
========================================================================== */

ul.tabs {
	margin: 0;
	padding: 0px;
	display: block;
	border-bottom: 3px solid $base-tabs-accent-border-color;
}

ul.tabs {
	@include clearfix;
}

ul.tabs li:first-child {
	margin: 0px;
}

ul.tabs li {
	width: 25%;
	margin-left: 0.5%;
	padding: 0px;
	float: left;
	display: block;
	list-style-type: none !important; 
}

ul.tabs li a {
	background-color: $base-tabs-color;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0 5%;
	font-size: $base-tabs-font-size;
	color: $base-tabs-font-color;
	text-align: center;
	text-decoration: none;
	line-height: $base-tabs-height;
	display: block;
	@include transition(all, 0.3s, ease);
}

ul.tabs li a:hover {
	background-color: $base-tabs-active-color;
	color: $white;
}

ul.tabs li a.active {
	background-color: $base-tabs-active-color;
	color: $white;
	margin: 0px;
}

ul.tabs li:first-child a.active {
	margin-left: 0; 
}

ul.tabs-content { 
	margin: 0px;
	padding: 0px;
	border-left:   1px solid darken($base-tabs-content-bg-color, 10%);
	border-right:  1px solid darken($base-tabs-content-bg-color, 10%);
	border-bottom: 1px solid darken($base-tabs-content-bg-color, 10%);
}

ul.tabs-content > li { 
	background-color: $base-tabs-content-bg-color;
	padding: 20px;
	display: none;
  list-style-type: none !important
}

ul.tabs-content > li.active { 
	display: block !important;
}