/* Utility Closet
========================================================================== */

// Floats ---------------- //

.clearfix {
	@include clearfix;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-none {
	float: none !important;
}

.centered-content-block {
	@include centered-content-block;
}

// Peek-a-boo ---------------- //

.show {
	@include show;
}

.hidden {
	@include hidden;
}


// Inline Lists --------------- //

.list-inline {
  @include list-inline;
}

// Image Handling ---------------- //

img { 
	width: 100%; 
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic; 
}

img.non-responsive {
	width: auto;
	max-width: none;
}

// Video Embed Handling ---------------- //

.video-wrapper {
    height: 0px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 56%;
    position: relative;
    overflow: hidden;
}

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}