// Social Buttons
//----------------------------------

@import "../oneframework/scss/defaults";

// Social Button Build
$base-social-class:             ".btn-social" !default;
$base-social-size:              rem(36) !default;
$base-social-icon-color:        $white !default;
$base-social-icon-hover-color:  $base-social-icon-color !default;
$base-social-line-height:       $base-social-size !default;
$base-social-brand-colors:      ('facebook' $facebook-brand-color) ('twitter' $twitter-brand-color) ('google-plus' $google-plus-brand-color) ('youtube' $youtube-brand-color) ('linkedin' $linkedin-brand-color) ('yelp' $yelp-brand-color) ('pinterest' $pinterest-brand-color) !default;

// Base Social Button Build
#{$base-social-class} {
  width: $base-social-size;
  height: $base-social-size;
  margin: 0px;
  padding: 0px;
  color: $base-social-icon-color;
  font-size: inherit;
  text-align: center;
  display: inline-block;
  line-height: $base-social-line-height;

  &:hover,
  &:active,
  &:focus {
    color: $base-social-icon-hover-color;
  }
}

@each $base-social-brand-color in $base-social-brand-colors {
  $base-social-brand-name: nth($base-social-brand-color, 1);
  $base-social-brand-bg-color: nth($base-social-brand-color, 2);

  #{$base-social-class}-#{$base-social-brand-name} {
    background-color: $base-social-brand-bg-color;
    @include transition(all,0.3s,ease);

    &:hover,
    &:active,
    &:focus {
      background-color: lighten($base-social-brand-bg-color, 5%);
    }
  }
}
